* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 100%;
    text-align:center;
    font-family: "roboto";
    background-color: #222222;
    margin-top:1%;
    margin-bottom:1%;
    width:  100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    color: #fff;
    font-size: 250%;
    margin-top:1%;
    margin-bottom:1%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#wheel {
  display:inline-block;
  position:relative;
  overflow:hidden;
}

#wheel:after {
  content:"";
  background:blue;
  border:2px solid white;
  position:absolute;
  top:-7px;
  left:50%;
  width:15px;
  height:15px;
  margin-left:-7px;
  transform: rotate(45deg)
}